<div class="loading-screen">
  <svg id="loading-svg" viewBox="0 0 200 100" *ngIf="visible">
    <path class="rim" stroke="white" stroke-width="1" stroke-dashoffset="600" d="M 0 99 H 200"/>
    <path class="letter-h letter-h-1" d="M 10 90 V 10" stroke-dashoffset="80" stroke="#5E89FB" stroke-width="10"/>
    <path class="letter-h letter-h-2" d="M 10 90 V 60 C 10 40 45 40 45 60 V 90" stroke-dashoffset="-111.6" stroke="#5E89FB" stroke-width="10"/>
    <path class="letter-n letter-n-0" d="M 10 90 V 60 C 10 40 45 40 45 60 V 90" stroke-dashoffset="-111.6" stroke="#111116" stroke-width="10"/>
    <path class="letter-n letter-n-1" d="M 120 90 V 90" stroke="#FF1554" stroke-width="10"/>

    <g class="letter-a">
      <path class="letter-a-2" stroke="#18F38C" stroke-width="10" d="M 90 45 a 20 20 0 0 0 0 40 M 90 45 H 110 M 90 85 q 5 0 20 -5"/>
      <path class="letter-a-1" d="M 120 95 V 35 M 120 35 a 0 0 0 0 0 0 0" stroke="#FF1554" stroke-width="10"/>
      <circle class="circle-a-1" cx="10" cy="90" r="5" fill="#111116"/>
    </g>

    <circle class="move-circle" cx="600" cy="-200" r="5" fill="#111116"/>
    <circle class="letter-h circle-h-1" cx="10" cy="90" r="5" fill="#111116"/>
    <circle class="letter-h circle-h-2" cx="10" cy="90" r="5" fill="#111116"/>
    <circle class="letter-n circle-n-1" cx="10" cy="90" r="5" fill="#111116"/>
    <circle class="letter-n circle-n-2" cx="10" cy="90" r="5" fill="#111116"/>
  </svg>
</div>
